#login-box{
    border: solid black 0.5px;
    padding:1.5rem;
    border-radius : 0.5rem;
}
#login-page{
    width:100vw;
    height:100vh;
    display:flex;
    justify-content: center;
    align-items: center;
}