.events-card-container{
    width:100%;
    display:flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    margin:1.5rem 0;
    height:100%;
}
.events-card{
    width:30%;
    margin:1rem auto;
    height:20rem;
}