.content-container {
    min-height: 100vh;
    margin:calc(var(--navbar-height) + 0.5rem) 0;
    padding:1rem 2rem;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}